* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #7e77db;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;

}

header a {
    color: #fcf8f8;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #2d42fb;
    color: #212121;
}



nav {
    display: flex;
    align-items: center;
}

.content {
    background-color: #aab5e7;
    vertical-align: middle;
    padding-top: 10px;

}

.footer_css {
    text-align: center;
}