.navigation {
    float: right;
    height: 100%;

}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #687ddb;
}

.navigation a li {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: black;
}

.navigation a:hover {
    background-color: gray;
    color: #101010;
}

.footer_css p {
    text-align: center;

}

.header {
    background-color: #687ddb;
}